.buttons {
    width: 50%;
    height: 75%;
    margin: 5% 0;
    font-size: xx-large;
    text-align: center;
    text-shadow: 5px 1px black;
    background-color: #1a2536;
    color: white;
    border-radius: 10px;
}