#lunch-menu-body {
    background-color: #f6f7ed;
    /* border: 5px solid #ffe8c6;  */
    color : #1a2536;
    padding-top: 50px;
}

.course-headers{
    font-size: 300%;
    
}

#apps-div, #sandwiches-and-pies-div, #bowls-div, #desserts-div {
    border: 5px solid #8d9445;
}

#individual-menu-items {
    font-size: xx-large;
    padding: 0 15% 0 15%;
    margin: 5% 0%;
}

#menu-item-desc{
    font-size: 70%;
    font-weight: 100;
    text-align: left;
}

#menu-item-price{
    text-align: right;
    font-size: smaller;
    margin: auto;
}

#menu-item-title{
    text-align: left;
    font-size: 125%;
}

#switch-menu{
    text-decoration: underline;
}