@import url('https://fonts.googleapis.com/css?family=Limelight');

#compressed-logo {
    width: 20%;
    margin-right: 40%;
}

#app-bar {
    font-family: 'limelight';
    /* background-color: #808080; */
    background-color: #456694;
    color: black;
}