.container {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar {
    height: 150px;
    background-color: #fffeca;
    position: absolute;
    width: 100%;
  }

  #nav-row-container{
    margin-top: 40px;
  }

  #all-pages-link{
    width: 120px;
  }
  
  .nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    position: absolute;
    right: 45px;
  }
  
  .nav-elements ul li:not(:last-child) {
    margin-right: 35px;
    width: 70px;
  }
  
  .nav-elements ul a {
    font-size: 25px;
    font-weight: 400;
    color: #274663;
    text-decoration: none;
  }
  
  .nav-elements ul a.active {
    color: #274663;
    font-weight: 500;
    position: relative;
  }
  
  .nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #274663;
  }

  #logo {
    height: 100px;
    position: relative;
    top: -20px;
  }

  #wide-nav {
    padding-left: 62%;
  }

  .menu-icon {
    display: none;
  }

  #dropdown-content{
    display: none;
    flex-direction: column;
    background-color: black;
    opacity: .8;
    text-align: end;
    width: 120%;
    padding-right: 10px;
  }

  .other-pages-links{
    color: white;
  }

  .condensed-dropdown{
    display: none;
  }

  #dropdown{
    color: white;
  }



@media (max-width: 1200px) {


    .menu-icon {
        position: absolute;
        /* margin-left: 42%; */
        display: block;
        left: 80%;
    }

    .condensed-dropdown{
      display: flex;
      text-decoration: none;
    }

    .nav-elements {
      position: absolute;
      right: 0;
      top: 150px;
      background-color: black;
      width: 0px;
      opacity: .8;
      height: calc(100vh - 60px);
      transition: all 0.3s ease-in;
      overflow: hidden;
    }
  
    .nav-elements.active {
      width: 270px;
    }
  
    .nav-elements ul {
      display: flex;
      flex-direction: column;
    }
  
    .nav-elements ul li {
      margin-right: unset;
      margin-top: 22px;
    }

    #hamburger {
        text-align: right;
    }

    #bar1 {
        height: 8px;
        width: 60px;
        background-color: #274663;
        margin-top: 30px;
    }
    
    #bar2 {
        height: 8px;
        width: 60px;
        margin-top: 5px;
        background-color: #274663;
    }
    
    #bar3 {
        height: 8px;
        width: 60px;
        margin-top: 5px;
        background-color: #274663;
    }

    #all-pages-link{
      display: none;
    }

    #wide-nave{
      display: none;
    }
  }